@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  min-width: 0;
}
body {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}


.playwrite-de-grund-guides-regular {
  font-family: "Playwrite DE Grund Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

.roboto-letters-100 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
@keyframes slowZoom {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 105% 105%;
  }
  100% {
    background-size: 100% 100%;
  }
}

.animate-slow-zoom {
  animation: slowZoom 15s ease-in-out infinite;
}
.transparent-bg {
  background-color: rgba(43, 140, 174, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.transparent-bg-services {
  background-color: rgba(207, 207, 207, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.text-container span {
  opacity: 0;
  transform: translateY(20px);
  animation: moveWords 3s linear infinite;
}

.text-container span:nth-child(1) {
  animation-delay: 0s;
}
.text-container span:nth-child(2) {
  animation-delay: 1s;
}
.text-container span:nth-child(3) {
  animation-delay: 2s;
}

@keyframes moveWords {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes moveArrow {
  0%,
  100% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(1px) scale(1.1);
  }
}
.animate-moveArrow {
  animation: moveArrow 2s ease-in-out infinite;
}
